* {
  background-color: #0f0f0f;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  margin-left: 10px;
  margin-right: 10px;
}

#high-score-page {
  display: none;
}

#center-stuff {
  display: flex;
  justify-content: center;
}

#quiz-questions {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-content: center;
  width: 50vw;
}

#question {
  font-size: 2em;
}

#answers button:last-child {
  grid-column: 1 / 4;
}

.test {
}

#answers {
}
